.nav {
  position: fixed;
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  top: 5px;
  gap: 30px;
  left: 37%;
  /* border: 2px solid red; */
 
}

/* .nav-about {
  transform: translateX(-10%);
}

.nav-skills {
  transform: translateX(-10%);
}
.nav-projects {
  transform: translateX(-10%);
}
.nav-contact {
  transform: translateX(-10%);
} */


a {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.navImg
{
  width:30px;

}

.pageTitle {
  font-size: 10px;
  color: white;
  cursor: default;
}



.navLink {
  opacity: 0.5;
}

.navLink:hover {
  opacity: 1;
}

.current {
  opacity: 1;
}

@media (min-width: 800px)
{
  .nav {
    position: fixed;
    display: flex;
    /* align-items: flex-start; */
    align-items: center;
    top: 10px;
    gap: 66px;
    left: 35%;

    /* border: 2px solid red; */
    /* width: 80%; */
  }

  
a {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.900rem;
}

.navImg
{
  width:35px;

}

.pageTitle {
  font-size: 15px;
  /* color: white; */
  cursor: default;
  
}
.lightTheme {
  color: black;
}

.darkTheme {
  color: white;
}


}


@media (min-width: 1100px)
{
  .nav {
    position: fixed;
    display: flex;
    align-items: center;
    top: 10px;
    gap: 66px;
    left: 40%;    
  }

  


}

/* @media (max-width: 1100px) {
  .nav-about,
  .nav-skills,
  .nav-projects,
  .nav-contact {
    transform: translateX(0);
  }

  .nav-link {
    width: 2rem;
  }
  .nav-link img {
    width: 2rem;
  }
  .page-title {
    display: none;
  }
}  */

  /* .nav {
    top: calc(100vh - 8rem);
    transform: translateX(-50%);
  } */